[2018-03-10 19:17] matyix opened #7 "Make the Prometheus sink a Spark package"
[Spark packages](https://spark-packages.org) is a community index of third-party packages for Apache Spark. Ideally, the Prometheus sink should be a package as it makes easier for people outside [Banzai Cloud](https://banzaicloud.com) to consume it.

At this time we are not putting effort into this (due to lack of time) but we are open for contributions.

[2018-05-02 21:05] acstevens opened #10 "Does spark-metrics work with spark 2.3"
I am trying to use spark-metrics with spark 2.3 but run into the follow error.

[code]

It seems like there is a compatibility issue.  Would you agree?

[2018-05-03 06:01] stoader commented on #10
@acstevens this was built with Spark 2.2.1. Had not chance to build against Spark 2.3. Will try to make some time next week to compile it for Spark 2.3 as well.

[2018-05-04 10:41] gsumar opened #11 "Problems with spark -submit."
Hello,

I got some problems running spark in cluster mode. (works OK in client mode)

I am getting the next error:
[code]

The spark submit is exactly the same that was provided in the readme.

[code]

[2018-05-04 10:44] kozmagabor commented on #11
Can you please be more specific about the issue?

[2018-05-04 10:50] gsumar commented on #11
I also tried downloading the jars and changing the statement:

[code]

Same result

[2018-05-04 11:06] gsumar commented on #11
Solved!!

It wasn't taking the dependencies at first because some kind of problems with the maven repo (unable to download the files), need to download the project of those dependencies and build the jars.

Once I have it done and copied to the master node, I added this configuration in order to have it working for executors (that is why I was getting that error).
--conf spark.executor.extraClassP

[2018-05-04 13:48] bonifaido commented on #11
Great to see it worked out finally! If you don't mind I will close this issue. Feel free to open up new issues in case of you see something misbehaving.

[2018-05-04 13:48] #11 closed

[2018-05-07 07:40] stoader commented on #10
@acstevens `spark-metrics` has been rebuilt for Spark 2.3 now. Please give it a try and let us know should you find any issues?

[2018-05-07 07:40] #10 closed

[2018-05-16 20:07] acstevens opened #13 "Sample Prometheus queries"
Would it be possible for you all to share the queries you all have to build a display or alert based off spark metrics?

[2018-05-24 05:47] liyinan926 opened #14 "Dockerfile based on the official Spark 2.3.0 image with spark-metrics and its dependencies"
It would be great if you can provide a reference Dockerfile based on the official Spark 2.3.0 [image](https://github.com/apache/spark/blob/master/resource-managers/kubernetes/docker/src/main/dockerfiles/spark/Dockerfile) with spark-metrics and its dependencies built-in. This makes it much easier for users to use this extension without having to build their own custom images.

[2018-05-24 12:16] stoader commented on #14
Hi @liyinan926 , great idea. Will add one to the repository.

[2018-05-31 15:18] gsumar opened #15 "Filtering spark metrics before writing in prometheus"
Hello,

I am trying to create my custom Prometheus sink, in order that I can filter some of the metrics that are exposed to Prometheus.

To do that I am writing my own PrometheusSink that has a Reporter class in it, and extends the ScheduledReporter class.

[code]

That filter is used to generate the report:
[code]

I changed the filter in the way that it return the values that I need to depending

[2018-05-31 15:32] gsumar commented on #15
I just tested my filter like this:
[code]

And is working OK. So it seems that is not taking the one that is given as an argument in ScheduledReporter.

[2018-05-31 15:43] gsumar commented on #15
It seems that in DropwizardExport is not using any filter,
[code]

[2018-05-31 16:21] stoader commented on #14
Hi @liyinan926, thinking on it more there is no need to create a new Dockerfile. You can use the official Spark 2.3.0 [Dockerfile](https://github.com/apache/spark/blob/branch-2.3/resource-managers/kubernetes/docker/src/main/dockerfiles/spark/Dockerfile).

All you need is to copy the following jars:

- com.banzaicloud:spark-metrics_2.11:2.3-1.0.0
- io.prometheus:simpleclient:0.3.0
- io.prometheus:s

[2018-05-31 16:21] #14 closed

[2018-05-31 16:28] liyinan926 commented on #14
The reason why I think providing a reference Docker image makes sense is it avoid the need for users to create a custom Spark image simply to add the jars. It's not hard but it's better if it can be completed avoided.

[2018-05-31 16:59] stoader commented on #15
Hi @gsumar , you are right the `DropwizardExport.collect()` is not taking into account any metrics filters. A solution that I can imagine is to derive from `DropwizardExport` and override the `public List<MetricFamilySamples> collect()` method such as to take into account a metrics filter which can be passed in via constructor parameter of the derived class.

What do you think?

[2018-06-08 12:52] nemo83 opened #16 "Caused by: java.lang.ClassNotFoundException: com.banzaicloud.spark.metrics.sink.PrometheusSink"
Hello,

first of all thanks for putting this lib together. I'm a fan of spark and prometheus but there was nothing to bridge these two worlds and you guys did an amazing job.

I've started using you lib few weeks ago and everything was working fine will a few days ago a new structured streaming job on emr 5.14 failed to launch executors..

The error:
[code]

The ARGS[] of the aws emr create step:

[2018-06-08 14:14] stoader commented on #16
Hi @nemo83 , is this failing consistently?

We use here GitHub as maven repository to hold the spark-metrics jars (see https://github.com/banzaicloud/spark-metrics/tree/master/maven-repo/releases/com/banzaicloud/spark-metrics_2.11/2.3-1.0.0).

If the class not found exception is not consistent than probably there was some temporary issue with downloading the jars from GitHub.

If it's consistent f

[2018-07-07 12:32] darrenhaken commented on #7
I would be interested in this, what would it take?

[2018-07-09 16:36] stoader commented on #7
Hi @darrenhaken, thank you for considering picking this up. We hadn't time to look into the details what's needed to turn this into a spark-package. Are you open for digging up what it entails to turn this  into a spark-package such as we have a good understanding of the steps and changes involved?

[2018-08-02 19:04] tkrasnoperov opened #17 "spark metrics namespace configuration issue"
According to the documentation at https://spark.apache.org/docs/latest/monitoring.html, under `Metrics`, we can set the `spark.metrics.namespace` configuration to something like `${spark.app.name}`, which presumably is expanded in the the metrics sink to be the value of that variable. We opened up our `spark-defaults.conf` file and added the following line.

[code]

As a result, our metrics change

[2018-08-03 17:29] #17 closed

[2018-08-03 20:10] stoader commented on #17
@tkrasnoperov please give a try using version `spark-metrics_2.11-2.3-1.0.1.jar`

[2018-08-20 13:09] DandyDev opened #19 "Metric naming & application name as tag"
Hi folks,

At KLM we're using PrometheusSink with great success. What we're missing though, is the ability to filter on application name. Currently, the metric names themselves are constructed using a lot of variables, including the application (attempt id), so we get metric names like:

[code]

This makes it hard to aggregate metrics for a specific Spark application over time, across redeployment

[2018-08-23 03:13] jurgenweber opened #20 "PrivilegedActionException as:root (auth:SIMPLE) cause:java.lang.ClassNotFoundException: com.banzaicloud.spark.metrics.sink.PrometheusSink"
We are receiving the above error when loading executors.

Any thoughts?

[2018-08-23 06:32] jurgenweber commented on #20
yeah, I think I may have jumped the gun a little bit on this. It probably is class path related. Will get back to you.

[2018-08-23 08:11] DandyDev commented on #19
I was able to verify that it _sort of_ works for us. If we set the `spark.metrics.namespace` configuration setting to the actual application name, the result is that the `job` label now holds the application name. The metric name is still the same however.

In practice, by using your suggestion we can now use queries like this in Grafana: `{__name__=~".*waitingBatches", exported_job="UserSessionPr

[2018-08-23 08:35] nemo83 commented on #16
Hi! No, not anymore. Not sure what the root cause was.

You can close the issue. Thanks.

On Thu, 23 Aug 2018, 02:23 Toader Sebastian, <notifications@github.com>
wrote:

[2018-08-23 10:58] DandyDev commented on #19
@zefir6 that's also a good solution for getting the right labels. But yeah, this should be built into the Sink itself.

Question: going by the regexes you posted, $1 is not the app name right? That would be the app id, and $2 would be the attempt id. Or am I overlooking something?

[2018-08-23 11:30] stoader commented on #19
@DandyDev the metrics name is constructed by Spark itself, it's out of scope of the Sink.

(see:
https://github.com/apache/spark/blob/master/streaming/src/main/scala/org/apache/spark/streaming/StreamingSource.scala#L27
https://github.com/apache/spark/blob/master/streaming/src/main/scala/org/apache/spark/streaming/StreamingSource.scala#L33
https://github.com/apache/spark/blob/master/streaming/src/m

[2018-08-23 11:54] #16 closed

[2018-08-23 23:13] #20 closed

[2018-08-27 09:02] zefir6 commented on #19
@stoader
In out organization we have limited ability to relabel on prometheus, so it would be useful to be able to deliver metrics in a form that is already "clean".
Also - I think it would be more useful to be able to set labels for metric using sink then anything else (it's not possible right now, am I correct)?

[2018-08-28 13:12] stoader commented on #19
@DandyDev @zefir6 I added some limited regular expression based metric name processing to the Sink.

There are two new config settings that you need to add to your metrics.properties file:
`metrics-name-capture-regex` and `metrics-name-replacement`. (See https://github.com/banzaicloud/spark-metrics/blob/master/PrometheusSink.md#how-to-enable-prometheussink-in-spark for details).

Also the applicat

[2018-08-30 06:17] zefir6 commented on #19
Wow @stoader many thanks for quick reaction. One question - this only allows us to change the metric name, right? Not apply additional labels? I am struggling to apply labels on the spark side (our central prometheus requires specific label for metric to be scraped) and we weren't able to use this function from within spark app:
[code]

Would it be possible to add that to the conf properties someh

[2018-08-30 07:29] DandyDev commented on #19
@stoader thanks, we're going to try this out!

[2018-08-30 07:52] stoader commented on #19
@zefir6 yes this only allows changing the metric name using a regular expression.
The `appendLabels` is for adding the labels of the metrics published by Spark.

Can you describe your use case regarding additional labels coming from config in more detail?

@DandyDev I'll add an `app-name` label as well.

[2018-08-30 08:14] zefir6 commented on #19
@stoader Well, in our specific case we need to provide specific label that specifies owner of the app/metric, for it to be scraped by prometheus. If the label is not set, the metric is ignored.

For other use cases:
scripting the given applications run from the level they are submitted (so, we set application name label)
adding specific owner as a label
adding specific team name as a label

It has

[2018-08-30 19:54] #13 closed

[2018-08-30 19:55] #15 closed

[2018-09-04 11:41] stoader commented on #19
@zefir6 @DandyDev any chance you tried this out on your end?

[2018-09-04 13:48] zefir6 commented on #19
@stoader Hey, still testing this - we had some other issues unrelated to this that are delaying, will let you know ASAP when we get it working. Also - your responsivness is greatly appreciated!

[2018-09-04 14:32] zefir6 commented on #19
@stoader One more thing, in the readme you mention:
`Supported only in version 2.3-1.1.0 and above`

But then in the example there is:
`--packages com.banzaicloud:spark-metrics_2.11:2.3-1.0.1,io.prometheus:simpleclient:0.3.0,io.prometheus:simpleclient_dropwizard:0.3.0,io.prometheus:sim`

So which one is it?
2.3-1.0.1 or 2.3-1.1.0
And is there a built jar, or do we have to build it ourselves? As in

[2018-09-04 19:25] stoader commented on #19
@zefir6 thanks for pointing out. I've updated the readme.

The jars are published to GitHub as maven repo here: https://github.com/banzaicloud/spark-metrics/tree/master/maven-repo/releases/com/banzaicloud/spark-metrics_2.11/2.3-1.1.0

[2018-10-04 18:46] rmunoz527 commented on #16
I am experiencing the issue today, using the repo --repositories  https://raw.github.com/banzaicloud/spark-metrics/master/maven-repo/releases, I get a redirect to https://raw.githubusercontent.com/banzaicloud/spark-metrics/master/maven-repo/releases and 404 error

[2018-10-04 19:07] stoader commented on #16
@rmuniz527 can you give it a try again. It might be an intermittent GH access issue.

[2018-10-04 19:58] rmunoz527 commented on #16
`$ curl -v -L raw.github.com/banzaicloud/spark-metrics/master/maven-repo/releases
*   Trying 151.101.0.133...
* TCP_NODELAY set
* Connected to raw.github.com (151.101.0.133) port 80 (#0)

< HTTP/1.1 301 Moved Permanently
< Server: Varnish
< Retry-After: 0
< Location: https://raw.github.com/banzaicloud/spark-metrics/master/maven-repo/releases
< Content-Length: 0
< Accept-Ranges: bytes
< Date: Thu,

[2018-10-04 20:08] stoader commented on #16
@rmunoz527 can you try if downloading the jar directly with `curl -v -L https://raw.githubusercontent.com/banzaicloud/spark-metrics/master/maven-repo/releases/com/banzaicloud/spark-metrics_2.11/2.3-1.1.0/spark-metrics_2.11-2.3-1.1.0.jar -O /var/tmp` results in the same 404 Not Found error?

[2018-10-04 20:28] rmunoz527 commented on #16
What's strange is it seems to be ok for driver using provided configuration settings, just the executors are having issue launching because of jar not available

[2018-10-05 08:31] stoader commented on #16
@rmunoz527 can you describe how your executors try to pull the spark-metrics jars? Are you running Spark on Kubernetes?

[2018-10-05 20:20] rmunoz527 commented on #16
@stoader I am running spark on yarn. I worked around the issue by downloading the jars locally and setting spark.executor.extraClassPath=$JARS. Off topic question but I see the metrics for executors have the executor id in the metric name. Was wondering if that is by design. Becomes a problem for me in trying to graph all executor metrics for component. An example would be

`application_1534579456

[2018-10-19 15:19] matyix commented on #19
@DandyDev @zefir6 I am closing this issue now - feel free to re-open it if the PR did not satisfy expectations.

[2018-10-19 15:19] #19 closed

[2018-11-05 07:09] lordk911 opened #24 "proplems with metrics-name-replacement"
hi,all. thanks for your product. there are some proplems when I use metrics-name-replacement. when I try to use regex : (application_\\d+_\\d+_.{1,6}_)(.+)  to remove application_id . the push away keep write log like this:

**time="2018-11-05T14:04:16+08:00" level=info msg="Metric families 'name:\"CodeGenerator_compilationTime\" help:\"Generated from Dropwizard metric import (metric=application_1

[2018-11-05 12:00] stoader commented on #24
Hi @lordk911, can you show your `metrics-name-capture-regex` and `metrics-name-replacement` setting?

[2018-11-05 16:19] abhishekkaura opened #25 "Getting Executor Ids from one query"
Is there any option in the metrics where we can retrieve the list of all executors id from one query so that I can create a variable in Grafana and use that to create graphs.

[2018-11-05 16:32] stoader commented on #25
@abhishekkaura metrics published from executors have a label named `instance`. The value of this label is sourced from `spark.executor.id` spark conf. Also there is a label called `role` which is set to `executor` which indicates that the metrics is from an executor.

Let me know if this helps.

[2018-11-05 16:36] abhishekkaura commented on #25
@stoader Thanks for the quick reply. That thing I got it from readme. My requirement is to get the executor ids returned from one prometheus query. For e.g. If I say executor_instances, it give me all executor ids available like 1,2,3,4... in one list which I can use to create a variable in grafana.

[2018-11-06 06:31] lordk911 commented on #25
if spark was config as dynamicAllocation , the executor number will always change also the executor id

[2018-11-06 23:15] stoader commented on #24
@lordk911 this error is thrown by Prometheus when there are two metrics with the same name but with different help messages.

In this case:
[code]
This is caused by the regex replacement being applied only on the name of the metrics but not on the help string. Since the help string contains the metric name this results in the above issue.

We'll fix this issue later this week.

[2018-11-07 02:47] lordk911 commented on #24
@stoader Thanks for your reply. It is very exciting news.
But there is another proplem, maybe it's about pushgateway not spark-metrics-sink.
Cause there was a lost of spark batch jobs , even if the jobs dead the connection to pushgateway was not close , so after keep run some time , the pushgateway can not work very will , and I found a lost of  connections with CLOSE_WAIT state .

CLOSE_WAIT 2841

[2018-11-08 17:53] stoader commented on #24
@lordk911 there is new version `2.3-2.0.1` out there which addresses the **inconsistent help strings** issue. Please give it try and let me know if works you. Note that you'll need to erase all metrics from pushgateway prior publishing new metrics with version `2.3-2.0.1`.

Regarding the connections in CLOSE_WAIT state, did you run your batch jobs against a singe spark driver or each job with own

[2018-11-09 01:11] lordk911 commented on #24
ok,I will have a try。
We use apache livy to start some long running spark session and the executors were dynamic allocation. then we post some query statements through livy ,all these statements use one session ,one session means one driver. Now I'm not sure the CLOSE_WAIT state was cause by spark session dead or the executors dynamic allocation . I will keep an eye on it .

[2018-11-09 09:05] lordk911 commented on #24
@stoader with the new version 2.3-2.0.1 the inconsistent help strings issue fixed, thanks.

[2019-01-16 08:18] azelezni opened #26 "Parsing error"
I'm unable to send any metrics to prometheus pushgateway, getting the following error:
[code]

[2019-01-16 09:42] stoader commented on #26
Hi @azelezni , can you share your `metrics-name-capture-regex`, `name-replacement` settings of your PrometheusSink config?

What version of spark-metrics library are you using?

[2019-01-16 09:58] azelezni commented on #26
Hi @stoader
I was able to get around this using the following metrics.properties
[code]

[2019-01-16 10:40] stoader commented on #26
@azelezni can you provide the metrics.properties that repros the issue with?

Note that the exception above was published from shuffle service
[code]

[2019-01-16 11:00] azelezni commented on #26
The following metrics.properties causes the error:
[code]

Yes I'm running spark standalone, however I think that with the regex replacement it's good enough for my needs.

[2019-01-16 13:30] stoader commented on #26
Can you do re-run with debug log level enabled ? That would log the payload being sent to push gateway.

[2019-03-15 09:58] C-h-e-r-r-y opened #27 "Add complete example"
First of all thank you for greate job you did.
But it is very hard to use this example.
The ideal solution wiil be to create docker images with prometheus, spark etc. Where all property files are put into correct places, all enviroment variables are set...
A `spark-submit` command with all it's argument can be put into some `sh` file so to see how all of this works use just do the following:
1) St

[2019-03-20 16:22] nikita-clearscale commented on #16
Same issue. All classes are packaged into single jar and I have no problems with that until to day.
I have checked that  `com.banzaicloud.spark.metrics.sink.PrometheusSink` is prensent in jar file but spark can not find it when application run in emr.

[2019-03-20 17:43] stoader commented on #16
@nikita-clearscale if all classes are packaged into a single jar and was working before for you this sounds like an issue related to the environment. Can you repro this in your local env? Also do you have logs that shows what the classloader does?

[2019-03-21 15:40] nikita-clearscale commented on #16
@stoader
Thanks for quick reply

No, I have not, because emr have different loading mechanism.

Could write a link or advice hot to that with emr in aws?

[2019-03-22 14:49] tisy commented on #16
Hi I'm having same issue. All is in the fat jar but getting the following error:

 Uncaught exception: java.lang.ClassNotFoundException: com.banzaicloud.spark.metrics.sink.PrometheusSink
at java.net.URLClassLoader.findClass(URLClassLoader.java:382)
at java.lang.ClassLoader.loadClass(ClassLoader.java:424)
at sun.misc.Launcher$AppClassLoader.loadClass(Launcher.java:349)
at java.lang.ClassLoader.load

[2019-03-22 15:03] tisy opened #28 "ClassNotFoundException: com.banzaicloud.spark.metrics.sink.PrometheusSink"
Hello,
I'm really interested in using the library but currently I'm failing to use it in emr/yarn. It is giving a `ClassNotFoundException: com.banzaicloud.spark.metrics.sink.PrometheusSink` error.
I have tried including the jar in my fat jar but that does not help.
Here is the complete stack trace:

` Uncaught exception: java.lang.ClassNotFoundException: com.banzaicloud.spark.metrics.sink.Promethe

[2019-03-22 16:00] stoader commented on #28
Does this happen in your local dev env as well? I'm trying to understand if this has to do with the environment on EMR.  Also can you check all the other jars listed here: https://github.com/banzaicloud/spark-metrics/blob/master/PrometheusSink.md are available on the classpath?

[2019-03-22 17:07] tisy commented on #28
Just tried: it works in local mode.
Seems like it is when running in Yarn that it does not work.
Thoughts ?

[2019-03-22 17:16] stoader commented on #28
can you verify that all the necessary jars (containing io.prometheus:simpleclient:0.3.0,io.prometheus:simpleclient_dropwizard:0.3.0,io.prometheus:simpleclient_pushgateway:0.3.0,io.dropwizard.metrics:metrics-core:3.1.2) are available on the classpath under Yarn?

[2019-03-22 17:41] stoader commented on #24
Closing this issue. Please re-open it if it surfaces again.

[2019-03-22 17:41] #24 closed

[2019-03-22 17:41] #25 closed

[2019-03-22 18:55] tisy commented on #28
I added all those dependencies in the fat jar.

[2019-03-22 20:31] stoader commented on #28
- can you check logs to see if the classpath contains the fat jar and that the jar actually was uploaded to the right classpath location?

- can you also give it a try to `--packages com.banzaicloud:spark-metrics_2.11:2.3-2.0.1,io.prometheus:simpleclient:0.3.0,io.prometheus:simpleclient_dropwizard:0.3.0,io.prometheus:simpleclient_pushgateway:0.3.0,io.dropwizard.metrics:metrics-core:3.1.2 --package

[2019-03-23 07:41] tisy commented on #28
- Yes, classpath contains the fat jar. Indeed my app is also in the fat jar and Yarn finds it.
- Yes, that's the first thing I tried as per the documentation.

Did you have a chance to try on Yarn ?

[2019-03-24 07:01] stoader commented on #28
We are not running Spark on Yarn but on Kubernetes.  The `com.banzaicloud.spark.metrics.sink.PrometheusSink` class has no special requirement regarding classloading so it's weird that it doesn't load on Yarn. The only thing I can imagine that Yarn has its own class loader which is not able to load this class.

[2019-03-27 09:44] highfei2011 opened #29 "Does 2.3-2.0.4 of the spark-metrics support the version of spark-2.2.0?"
Thank you.

[2019-04-02 06:37] stoader commented on #29
Take a look at the `Spark 2.2` section: https://github.com/banzaicloud/spark-metrics/blob/master/PrometheusSink.md

Version `2.2.1-1.0.0` supports Spark 2.2 however this version does not include the feature changes that were added later to spark-metrics 2.3+

[2019-04-02 09:43] highfei2011 commented on #29
Well, let me try .

[2019-04-02 09:43] #29 closed

[2019-04-02 11:04] stoader commented on #16
@nikita-clearscale I'm not familiar with EMR, we are running Spark on Kubernetes. On EMR can you specify options for the spark-submit command? If yes, can you try adding ```--conf "spark.executor.extraJavaOptions=-verbose:class" --conf "spark.driver.extraJavaOptions=-verbose:class" ``` to see if outputs more verbose logs that may give any hint on what's going on behind the scenes?

[2019-04-17 10:20] tisy commented on #28
Hi,
Sorry for late replay. I was still struggling with this.
Finally I managed to get it work in yarn cluster mode.
You don't need/have to enable the sink in the workers. Just driver is sufficient, because metrics are forwarded from workers do driver (see here: http://apache-spark-user-list.1001560.n3.nabble.com/Custom-Metric-Sink-on-Executor-Always-ClassNotFound-td34205.html#a34206).
So you have

[2019-04-21 15:12] amitrmishra opened #30 "Spark 2.4.0: Sink class com.banzaicloud.spark.metrics.sink.PrometheusSink cannot be instantiated"
I'm using spark 2.4.0.
When I follow the steps mentioned in https://github.com/banzaicloud/spark-metrics/blob/master/PrometheusSink.md, I get below error:

[code]
I'm using below config:

[code]

In the executor log, I can the jar being passed to the command as:

[code]

Can you help me with a solution around this.

[2019-04-21 19:33] stoader commented on #26
Closing this issue. Please re-open if this issue surfaces again

[2019-04-21 19:33] #26 closed

[2019-04-21 19:38] stoader commented on #28
@tisy thank you for sharing the solution. I'm closing this GH issue.

[2019-04-21 19:38] #28 closed

[2019-04-21 19:41] stoader commented on #16
@nikita-clearscale can you try this if works for you: https://github.com/banzaicloud/spark-metrics/issues/28#issuecomment-484026072

[2019-04-21 19:41] stoader commented on #30
@amitrmishra can you check and confirm that the `$PWD/com.banzaicloud_spark-metrics_2.11-2.3-2.0.1.jar` is actually available on the host?

Can you share your metrics.properties config?

I also suggest using `com.banzaicloud:spark-metrics_2.11:2.3-2.0.4` instead of `com.banzaicloud:spark-metrics_2.11:2.3-2.0.1`

[2019-04-22 12:43] amitrmishra commented on #30
Yes the jar is in my list of external libraries. After building my project assembly jar, I can see the class (using jar tf <jar name>) com.banzaicloud.spark.metrics.sink.PrometheusSink is contained.

When running my spark application locally, it works fine. But when running the same application in cluster, using --master yarn, I start to get ClassNotFoundException on the executors.

I tried follow

[2019-04-22 16:35] stoader commented on #30
@amitrmishra can you check if this https://github.com/banzaicloud/spark-metrics/issues/28#issuecomment-484026072 fixes the `ClassNotFoundException` for you.

[2019-04-24 08:52] amitrmishra commented on #30
Thanks @stoader for your time to reply.
But using
`driver.sink.prometheus.class=com.banzaicloud.spark.metrics.sink.PrometheusSink`
does not give me the executor metrics.

[2019-05-08 23:18] andrewgdavis opened #31 "pushgateway info log message to "Fix pushed metrics!""
Prometheus reports that the help message for some metrics are in conflict.  For example the driver and executor help message conflict from the logs:
[code]
[code]
[code]

`java_lang_MemoryPool_CollectionUsage_used` help message should be the same for the driver and executor... but it looks like it is used 2x: one for "Tenured Gen" help and one for "PS Old Gen".  Is there an updated lib or config t

[2019-05-11 10:57] stoader commented on #31
@andrewgdavis  the Pushgateway doesn't like metrics with the same name that has different help message. To my knowledge it doesn't drop the metric itself it just warns about the difference in the help message and will pick one of the two help messages.

The help message is generated by the dropwizzard exporter library and way it does it may lead to help message inconsistencies.

Starting from [spa

[2019-05-13 14:40] mitchelldavis commented on #30
@stoader None of this seems to be working.  What is the system class path for a spark cluster running with yarn?  (AWS EMR?) I've tried adding `--conf "spark.executor.extraClassPath` to the `spark-submit` call and used a local path and an hdfs path and neither worked.

Has anyone got this to work with yarn?  I.E. Spark on AWS EMR?

[2019-05-13 16:04] stoader commented on #30
@mitchelldavis, unfortunately, I'm not familiar with Spark on AWS EMR as we run Spark on Kubernetes.

Can you verify what path is  PrometheusSink jar is copied to on the hosts running the executors? Also can you check the timestamp of when the jar is copied whether it's before the `org.apache.spark.metrics.MetricsSystem` class is being initialised by Spark executor.

[2019-05-13 16:41] mitchelldavis commented on #30
@stoader Thanks for the quick reply.  I'm going to have to figure out how to do that on Yarn, but I'll start working on that right away.

(Any tips you can give would be great!)

[2019-05-13 19:33] andrewgdavis commented on #31
Thanks for the reply.  The spark-metrics_2.11-2.3-2.0.4.jar was already being used.  perhaps i need to see if the dropwizard exporter needs to be updated.

[2019-05-14 16:03] mitchelldavis commented on #30
@stoader I was able to get it figured out and for anyone else who is struggling to get this to work on AWS EMR with Yarn, here are the steps I took:

I created the following pom.xml

[code]

Then ran the following command line to gather up all the dependencies:

[code]

The `./result` directory now has all of the dependencies for the spark-metrics jar.  Zipping all that up and transfering the arch

[2019-05-14 20:18] stoader commented on #30
Thank you @mitchelldavis for sharing this.
If I understand correctly what you did is you uploaded the `spark-metrics` jar and its dependencies to all the EMR hosts in advance instead of relying on Yarn to download and distribute the jars to the EMR hosts.

With having the jars uploaded to EMR hosts I guess you can omit the `--repositories` and `--packages` spark-submit command line options now.

[2019-05-22 20:44] paskalka opened #32 "Sink class com.banzaicloud.spark.metrics.sink.PrometheusSink cannot be instantiated"
Hello,
on spark 2.3.2
here is my spark-submit:
spark-submit --num-executors 3 --master yarn --deploy-mode client --files /tmp/log4j2.xml#log4j2.xml --repositories https://raw.github.com/banzaicloud/spark-metrics/master/maven-repo/releases --packages com.banzaicloud:spark-metrics_2.11:2.3-2.0.4,io.prometheus:simpleclient:0.3.0,io.prometheus:simpleclient_dropwizard:0.3.0,io.prometheus:simpleclient_p

[2019-05-23 06:15] stoader commented on #32
Can you share logs and your metrics.properties?

[2019-05-23 08:45] paskalka commented on #32
Hi ,

1- I solved it by copying the prometheus and banzaicloud jars into  sparks
jars folder. Is it the standard way to use your product ?
2- I was thinking that by using --repositories --packages --jars in
spark-submit, i didn't need to copy them into spark jars folder

*metrics.properties:*

# Enable Prometheus for all instances by class name
*.sink.prometheus.class=com.banzaicloud.spark.metrics

[2019-05-23 09:38] stoader commented on #32
Based on others experiencing this issue on Yarn (https://github.com/banzaicloud/spark-metrics/issues/30#issuecomment-492301988) looks like that Yarn doesn't distribute these jars to the executor hosts in time thus when executors initialize metrics system these jars are not there. (Note we are running Spark on Kubernetes - Kubernetes being the cluster manager instead of Yarn - and not seeing this i

[2019-05-23 10:26] paskalka commented on #32
How to find the timestamp ? I am not getting this information from the UI

On Thu, May 23, 2019 at 12:38 PM Toader Sebastian <notifications@github.com>
wrote:

[2019-05-24 19:43] stoader commented on #32
@paskalka check Yarn logs to see when and where are the jars copied/distributed to or ssh to executor hosts and check the stats of the file.

[2019-07-03 07:18] dadez opened #33 "missing collector-0.10.jar library for kubernetes workaround"
in PrometheusSink.md you forgot to mention that the `collector-0.10.jar` should also be manually copied to `assembly/target/scala-2.11/jars` for avoid `ClassNotFoundException: io.prometheus.jmx.JmxCollector` error

[2019-07-03 15:12] sancyx commented on #33
hi @dadez, thanks for spotting this, we have updated the doc https://github.com/banzaicloud/spark-metrics/pull/34.

[2019-07-04 10:59] #33 closed

[2019-07-18 04:44] dahiyahimanshu opened #35 "Need Hostname value in instance key instead of app id"
appid is redundant value in job and instance. we want to corelate executor and driver with spark worker. we need hostname information. Can we have optional property to enable hostname in instance instead of appId?

[2019-07-18 06:35] dahiyahimanshu opened #37 "Can we publish the jar in some public maven repository?"

[2019-07-18 15:42] stoader commented on #37
@dahiyahimanshu we use GitHub as maven repository. All you need is to add `https://raw.github.com/banzaicloud/spark-metrics/master/maven-repo/releases` to the list of maven repositories.

[2019-07-19 03:20] dahiyahimanshu commented on #37
Hello @stoader
Thankyou I will check with our software factory expert see if it works. Only thing is it gives me 404 when i open thorugh browser.
https://raw.githubusercontent.com/banzaicloud/spark-metrics/master/maven-repo/releases
it gives me 404: Not Found

[2019-07-19 07:02] stoader commented on #37
Can you try to open https://raw.githubusercontent.com/banzaicloud/spark-metrics/master/maven-repo/releases/com/banzaicloud/spark-metrics_2.11/2.3-2.0.4/spark-metrics_2.11-2.3-2.0.4.pom ?

Also can you try open it using `curl https://raw.githubusercontent.com/banzaicloud/spark-metrics/master/maven-repo/releases/com/banzaicloud/spark-metrics_2.11/2.3-2.0.4/spark-metrics_2.11-2.3-2.0.4.pom -vvv` as w

[2019-07-19 08:05] stoader commented on #35
@dahiyahimanshu this has been released in version `2.3-2.1.0`

[2019-07-19 08:19] dahiyahimanshu commented on #37
works well. Thankyou

[2019-07-19 08:19] #37 closed

[2019-07-19 08:20] dahiyahimanshu commented on #35
@stoader Thankyou

[2019-07-19 08:20] #35 closed

[2019-07-22 05:07] dahiyahimanshu opened #38 "Spark application exits with exception when the sink is not able to connect to promethues push gateway"

[2019-07-22 06:08] stoader commented on #38
Can you attach logs? Normally that should not exit the entire spark job. It should only exit the thread sending the metrics to puahgateway.

[2019-07-22 20:29] dahiyahimanshu commented on #38
@stoader : Yes applciation is not exiting. Only exception in the logs every 1 minute. Not sure what will be the impact on the application performance in this degraded mode.
Driver logs
[code]

Executor logs :
[code]

[2019-07-22 21:06] stoader commented on #38
This should not impact the driver as publishing metrics is async. The only impact I can see is filling the logs.

What's your suggestion regarding how to handle the case when Pushgateway is down or unreachable?

[2019-07-23 06:17] dahiyahimanshu commented on #38
some alternatives :
1. Possibly not to log such exceptions in application logs. (But i think that would be too dirty not to know any implication)
<logger name="com.banzaicloud.metrics.prometheus.client.exporter.PushGatewayWithTimestamp" level="OFF"/>
2. May be not to show these exceptions in stderr section of driver/executor from spark ui but do capture them in driver/executor logs.
3. Or May be i

[2019-07-29 07:37] stoader commented on #38
Agree, not logging exceptions has its implications as you won't be aware that there is an issue on the system that needs to be looked at.

Since spark uses log4j you should be able to filter out these errors log4j or direct into a different log file through log4j configuration such that these logs don't flood spark logs. Have you tried that?

[2019-08-13 14:38] rolandjohann opened #39 "specify job name and pushgateway relevant labels via config"
**Is your feature request related to a problem? Please describe.**

For each spark application a separate pushgateway job incl. specific labels will be created. As the pushgateway doesn't support TTL of groups we should be able to configure the push gateway sink accordingly to push metrics of the same job (lets say based on the spark app name) into the same group.

**Describe the solution you'd li

[2019-08-20 16:56] dahiyahimanshu commented on #24
`level=info ts=2019-08-20T08:32:30.746Z caller=diskmetricstore.go:130 msg="metric families inconsistent help strings" err="Metric families have inconsistent help strings. The latter will have priority. This is bad. Fix your pushed metrics!" new="name:\"java_lang_GarbageCollector_LastGcInfo_memoryUsageBeforeGc_init\" help:\"java.lang.management.MemoryUsage (java.lang<type=GarbageCollector, name=PS

[2019-08-20 18:01] stoader commented on #24
What spark-metrics version are you using?

Are these log lines from the driver or executor?

Can you share your metrics.properties file also the log lines that show the metrics system intialization (that should be among the fisrt couple of log lines) ?

[2019-08-20 18:47] dahiyahimanshu commented on #24
`# Enable Prometheus for all instances by class name
*.sink.prometheus.class=com.banzaicloud.spark.metrics.sink.PrometheusSink
# Prometheus pushgateway address
*.sink.prometheus.pushgateway-address=eaa-platform-pushgateway:9091
*.sink.prometheus.period=60
*.sink.prometheus.pushgateway-enable-timestamp=false
*.sink.prometheus.enable-dropwizard-collector=false
*.sink.prometheus.enable-jmx-collector=

[2019-08-20 20:28] stoader commented on #24
The metrics system intialization is in the driver and executor log. Can you provide driver and executor logs?

There are two different metrics system in Spark. One provides metrics through the Dropwizzard library the other through Jmx Nbeans. The metrics published from Spark by these are different (through there is some overall).
You can choose which one to use through enable-dropwizard-collector

[2019-08-26 05:44] stoader commented on #39
Have you considered using metrics namespaces (`spark.metrics.namespace`)?

If you have a PR please let me know and we'll review it.

[2019-08-26 05:46] #30 closed

[2019-08-26 05:47] stoader commented on #32
@paskalka is this still an issue?

[2019-08-26 05:47] #31 closed

[2019-08-26 07:12] paskalka commented on #32
no, it's ok

Thanks

On Mon, Aug 26, 2019 at 8:47 AM Toader Sebastian <notifications@github.com>
wrote:

[2019-08-26 07:14] #32 closed

[2019-08-26 17:03] stoader commented on #24
Looking at this more the issue relates to the way how metrics and their help messages are constructed by JmxCollector when gathering metrics from MBeans inside Spark.

In this particular case there are two metrics with the same name but different help string:
[code]

This is not allowed by Prometheus thus Prometheus drops one of the two metrics. (Prometheus requires that two metrics with the same

[2019-08-27 07:55] y0908105023 commented on #32
how to solve it ？
![image](https://user-images.githubusercontent.com/8789291/63752040-1495be00-c8e3-11e9-8ca1-edfe11b52aba.png)
![image](https://user-images.githubusercontent.com/8789291/63752063-24150700-c8e3-11e9-9648-a1c30faca3a2.png)

[2019-08-27 07:58] y0908105023 commented on #32
I had the same problem，how did you solve it? Adding jars to spark folder?
![image](https://user-images.githubusercontent.com/8789291/63752211-6fc7b080-c8e3-11e9-9902-b4737dc06b9d.png)

[2019-08-27 08:03] stoader commented on #32
@y0908105023 are you running Spark on EMR? If so see https://github.com/banzaicloud/spark-metrics/issues/30#issuecomment-492301988

[2019-08-27 08:08] y0908105023 commented on #32
@stoader  not spark on emr,just on yarn

[2019-08-27 08:09] stoader commented on #32
@y0908105023 how does your `park-submit` command look like?

[2019-08-27 08:13] y0908105023 commented on #32
@stoader
`cd /data0/spark/spark-2.2.1-bin && ./bin/spark-submit\
    --jars /data0/job/lib/spark-streaming-kafka-0-10_2.11-2.1.0.jar,/data0/job/lib/kafka-clients-0.10.2.1.jar \
    --master yarn \
    --files /data0/spark/metrics/metrics.properties \
    --conf spark.metrics.conf=metrics.properties \
    --conf spark.metrics.conf.*.sink.console.class=org.apache.spark.streaming.metrics.sink.HttpSin

[2019-08-27 09:24] stoader commented on #32
See https://github.com/banzaicloud/spark-metrics/blob/master/PrometheusSink.md for how to pass packages to Spark.

In case of Spark 2.2 you need to pass:

[code]

```--packages com.banzaicloud:spark-metrics_2.11:2.2.1-1.0.0,io.prometheus:simpleclient:0.0.23,io.prometheus:simpleclient_dropwizard:0.0.23,io.prometheus:simpleclient_pushgateway:0.0.23,io.dropwizard.metrics:metrics-core:3.1.2```

Also I

[2019-08-27 12:31] y0908105023 commented on #32
which version will solve this problem?

[2019-08-27 13:02] stoader commented on #32
@y0908105023 I'd suggest using Spark 2.3+ passing ```--packages com.banzaicloud:spark-metrics_2.11:2.3-2.1.0,io.prometheus:simpleclient:0.3.0,io.prometheus:simpleclient_dropwizard:0.3.0,io.prometheus:simpleclient_pushgateway:0.3.0,io.dropwizard.metrics:metrics-core:3.1.2``` to your spark-submit command

[2019-08-28 09:32] dahiyahimanshu commented on #24
Hi @stoader,. Thanks for your reply. I think other way around on this problem. In fact these are 2 different metrices having same name java_lang_GarbageCollector_LastGcInfo_memoryUsageBeforeGc_init. The help seems correct. Better to have rule to change the name using help tokens. I am not sure if i can do it through rules.

[2019-08-28 10:10] stoader commented on #24
@dahiyahimanshu if you're using the JMX Collector to collect Spark metrics (`*.sink.prometheus.enable-jmx-collector=true`) than you should be able to change metrics name as in this example:
https://github.com/prometheus/jmx_exporter/blob/master/example_configs/spark.yml

If you're using Spark metrics exposed via the Dropwizzard library (*.sink.prometheus.enable-dropwizard-collector=true) there is

[2019-08-30 19:03] dahiyahimanshu commented on #24
Hi @stoader ,

1.
(*.sink.prometheus.enable-jmx-collector=true) than you should be able to change metrics name as in this example:
https://github.com/prometheus/jmx_exporter/blob/master/example_configs/spark.yml

2. There are limitations using Dropwizzard collector i.e. JMX metrics will not be availaible with Dropwizard export method.

[2019-09-12 02:44] dahiyahimanshu commented on #39
I am interested whenever my spark app crash it restart with new job name timestamp appended. I don`t know how i can clean up stale groups from pushgateway.
![pushgateway](https://user-images.githubusercontent.com/5242576/64749963-2a3af280-d535-11e9-9bf1-60205e51d09d.png)

[2019-09-19 08:34] vijayrajah opened #40 "unable to send metrics to Prometheus Push Gateway"
**Describe the bug**
Unable to push the data to Push Gateway

Here is the error stack
[code]

My Metrics.properties file

[code]

**Steps to reproduce the issue:**
I copied the Jar from Maven -  https://mvnrepository.com/artifact/com.banzaicloud/spark-metrics_2.11/2.3-2.1.0

**Expected behavior**

**Screenshots**

**Additional context**
Pushgateway version: 0.9.1
Prometheus version: 2.12.0

Simila

[2019-09-19 08:59] stoader commented on #40
@vijayrajah can you check that the appropriate version of the dependent jars is copied to the host as well. You can find here the list of jars: https://github.com/banzaicloud/spark-metrics/blob/master/PrometheusSink.md#how-to-enable-prometheussink-in-spark

```io.prometheus:simpleclient:0.3.0,io.prometheus:simpleclient_dropwizard:0.3.0,io.prometheus:simpleclient_pushgateway:0.3.0,io.dropwizard.met

[2019-09-30 16:06] vijayrajah commented on #40
@stoader Yes, that fixed it Thanks... Sorry, i could not respond earlier...

[2019-09-30 16:06] #40 closed

[2019-11-08 05:27] kangtiann opened #42 "Support Spark 3.0"
**Describe the bug**
[code]

ERROR:
[code]

**Steps to reproduce the issue:**

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/39302402/68451861-75b70780-022b-11ea-967a-dafec1541fbd.png)

**Additional context**

[2019-11-08 07:39] stoader commented on #42
@kangtiann Apache Spark 3.0 is not released yet. (it's still in preview). Once a stable version of Apache Spark 3.0 is released we'll release spark-metrics version for it.

[2019-11-11 09:10] kangtiann commented on #42
Oh, get it, thx !

[2019-11-11 09:26] kangtiann opened #43 "Push dropwizard metrics error, PushGatewayWithTimestamp: text format parsing error in line 64: second HELP line for metric name "HiveExternalCatalog_fileCacheHits""
**Describe the bug**

Spark version: 2.4.3
spark-metrics version: spark-metrics_2.11-2.3-2.1.1.jar

Error in spark master.log:

`PushGatewayWithTimestamp: text format parsing error in line 64: second HELP line for metric name "HiveExternalCatalog_fileCacheHits"`

Reason is: **pushfateway may not accept duplicate metrics.**

here is push request body (while logging with debug level)
[code]

**Steps

[2019-11-11 09:28] kangtiann commented on #43
I will commit PR to fix this.

[2019-11-11 09:57] stoader commented on #43
That's a warning from Prometheus Pushgatway which doesn't accept two metrics instances that have the same keys but the different help message. This is to do with how the DropWizzard Prometheus exporter generates help messages for metrics. In the latest version, this should not happen as the help string is set to a fixed message now https://github.com/banzaicloud/spark-metrics/blob/master/src/main/

[2019-11-11 13:06] kangtiann commented on #43
I build from master.

![image](https://user-images.githubusercontent.com/39302402/68589530-107f4280-04c7-11ea-84f5-fd287829eed3.png)

[2019-11-11 13:17] kangtiann commented on #43
https://github.com/prometheus/pushgateway/blob/master/vendor/github.com/prometheus/common/expfmt/text_parse.go

The second help comment may be error.

![image](https://user-images.githubusercontent.com/39302402/68590048-89cb6500-04c8-11ea-8f1e-f8365fe1e421.png)

[2019-11-11 16:21] stoader commented on #43
Can you check if the correct jar (you built from master branch) is picked up by your Spark deployment and not an older cached version? In the latest version as I mentioned before the HELP string fixed to `Generated from Dropwizard metric import`. Help strings like the ones in your log `HiveExternalCatalog_fileCacheHits Generated from Dropwizard metric import (metric=HiveExternalCatalog.fileCacheHi

[2019-11-12 02:05] kangtiann commented on #43
## Why help message not fixed to `Generated from Dropwizard metric import`?

I think class `DropwizardExports` import from wrong path.

![image](https://user-images.githubusercontent.com/39302402/68635383-4e19b500-0533-11ea-9984-98c654fe5a82.png)

After, still not work...

![image](https://user-images.githubusercontent.com/39302402/68635312-1f034380-0533-11ea-975e-72a95fea82fe.png)

![image](https

[2019-11-12 09:50] stoader commented on #43
I pushed a fix, can you take the latest master an try again?

[2019-11-12 11:58] kangtiann commented on #43
Still not work, version of my pushgateway is v1.0.0

![image](https://user-images.githubusercontent.com/39302402/68669886-98785180-0586-11ea-956d-fc868f618b01.png)

![image](https://user-images.githubusercontent.com/39302402/68669963-bba30100-0586-11ea-8ff6-78eb92b85dfa.png)

[2019-11-12 15:18] stoader commented on #43
Can you check code snippet in your version of spark-metrics at PrometheusSink.scala:237 ?

[2019-11-13 07:29] kangtiann commented on #43
![image](https://user-images.githubusercontent.com/39302402/68742120-51dc3300-062a-11ea-9682-6a751aaf766e.png)

[2019-11-13 07:30] kangtiann commented on #43
Help message is ok now, but still not work.

[2019-11-13 07:44] stoader commented on #43
What error do you see now?

[2019-11-14 13:09] kangtiann commented on #43
Error same to early
If remove  duplicate metrics, everything is okey~

![image](https://user-images.githubusercontent.com/39302402/68859723-d9a56880-0722-11ea-86d4-e0f51f9d1c43.png)

[2019-11-14 13:20] stoader commented on #43
Can you describe the steps to reproduce the error so as we can repro it on our dev environment?

[2019-11-15 07:28] kangtiann commented on #43
Here is my docker compose: [prometheus-docker.zip](https://github.com/banzaicloud/spark-metrics/files/3850239/prometheus-docker.zip)

STEP 1: Start prometheus and pushgateway

`docker-compuse up`

STEP 2: spark 2.4.4, edit `metrics.properties`

[code]

STEP 3: copy `spark-metrics` dependence jars to spark's jar path

STEP 4: Start spark with standalone mode.

[code]

[2019-11-15 14:35] Matzz commented on #39
I think overriding just `spark.metrics.namespace` (job name) wont help here. I think common groupingKey is also required. However it is not possible to override it now:
[code]

[2019-11-15 14:37] Matzz commented on #39
I think this article touch that topic - https://www.robustperception.io/common-pitfalls-when-using-the-pushgateway
[code]

[2019-11-16 15:31] stoader commented on #43
@kangtiann I couldn't reproduce this issue.

I downloaded the spark-metrics jar and it's dependencied using `mvn dependency:get -DgroupId=com.banzaicloud -DartifactId=spark-metrics_2.11 -Dversion=2.3-2.1.2` command.

Then I copied the downloaded jars to spark's jar path `cp  ~/.m2/repository/com/banzaicloud/spark-metrics_2.11/2.3-2.1.2/spark-metrics_2.11-2.3-2.1.2.jar ssembly/target/scala-2.11/jar

[2019-11-18 12:44] kangtiann commented on #43
Here is docker compose contains spark and spark-metrics jars (only spark master) [prometheus-docker.zip](https://github.com/banzaicloud/spark-metrics/files/3858630/prometheus-docker.zip)

### Spark docker file

![image](https://user-images.githubusercontent.com/39302402/69053180-cc9ab900-0a43-11ea-9564-eead53eac078.png)

### Error message

![image](https://user-images.githubusercontent.com/3930240

[2019-11-21 15:47] stoader commented on #43
Can re-try with the latest master?

Note you need to compile spark-metrics with `sbt ++2.11.12  package` for Scala 2.11 (your docker-compose setup uses Scala 2.11).

Also, the package of the Sink has changed thus use `*.sink.prometheus.class=org.apache.spark.banzaicloud.metrics.sink.PrometheusSink` in your metrics.properties

[2019-12-19 18:30] Drewster727 opened #51 "Not seeing executor metrics, only driver"
**Describe the bug**
Not seeing executor metrics (only driver).

**Steps to reproduce the issue:**
Spark 2.3.0 / Hadoop 2.7

metrics.properties:
[code]

jmxCollector.yml
[code]

I see metrics flowing in appropriately to the push gateway, but it is only driver metrics, no executor...
[code]

I found a post from someone who has a similar set of spark/hadoop versions on a cloudera forum, but no answe

[2019-12-20 09:13] stoader commented on #51
Are you seeing `PrometheusSink cannot be instantiated` errors in the executor logs? Others in the past experienced this issue due to Yarn not deploying the spark-metrics.jar to executor nodes by the time metrics system is initialised within the executor.  The solution to that was to copy upfront spark-metrics.jar and all it's dependencies to executor nodes before executors are being started: https

[2019-12-21 16:28] Drewster727 commented on #51
@stoader I am digging in to see if this error is appearing in executor logs, have not seen it yet. I'll report back and close this out if so. Thanks.

[2019-12-23 08:17] #43 closed

[2019-12-23 09:22] f1yegor commented on #42
idk, we are using it with spark-3.0.0-preview just fine. look at https://github.com/f1yegor/spark-metrics/tree/more_cool_stuff

[2019-12-23 09:40] f1yegor commented on #27
it's not a complete example, but our dockerfile looks like
[code]
and then setting
` "--conf", "spark.metrics.conf=/opt/spark/metrics.properties" `
via submit or `sparkConf.set` itself.

[2019-12-30 18:52] Drewster727 commented on #51
@stoader Even when I take yarn out of the equation, and just run locally via spark-submit, I still only get driver metrics.
I ran through the suggestion from @mitchelldavis here: https://github.com/banzaicloud/spark-metrics/issues/30#issuecomment-492301988
i.e. created a pom.xml and then manually specify the jars via --jars command. I see no errors and no indication of anything not loading.

I als

[2019-12-30 20:22] Drewster727 commented on #30
@mitchelldavis @stoader I'm attempting to do the pom.xml process of downloading/building out the jars -- that seems to work. Then I go provide my extraClassPath references:
`spark.driver.extraClassPath`
`spark.executor.extraClassPath`
[code]

All of the nodes in my yarn cluster have that path with those jars, but I get the following:
[code]

Any idea what's going on here?

[2019-12-31 08:51] stoader commented on #51
can you see in your executor logs that the PrometheusSink is being instantiated?

[2019-12-31 09:00] stoader commented on #30
Do you use
[code]
or
[code]

in your metrics.properties config file?

[2020-01-28 00:05] cricket007 opened #52 "upgrade prometheus simpleclient to version 0.8.1"
**Is your feature request related to a problem? Please describe.**

Nope

**Describe the solution you'd like to see**

Just an upgrade

**Additional context**

Version bumps are nice

[2020-01-28 08:37] #38 closed

[2020-01-28 22:18] Drewster727 commented on #51
hi @stoader sorry for the late reply -- yes, after doing some further review I do see this in the logs *only* for the executor:
[code]

Which is odd considering the driver has access and I'm providing the repository and jars packages:
[code]
All of those vars get sent to livy with the spark worker deployment. The files in the `/hdfs/path/...` paths all exist in HDFS and are accessible.

Thoughts?

[2020-01-28 23:25] Drewster727 commented on #51
Also -- just tested dropping the following jars on each node *and* in HDFS:
[code]
I told my livy/yarn job to look for these in the `files` designation.

Am I missing any there?

[2020-01-28 23:56] Drewster727 commented on #51
I seem to be able to get further if I tell yarn/livy that it can look for jars via the extraClassPath `/opt/prometheus/jars`
Now it's throwing some snake/yaml dependency errors. Maybe I need to copy more jars out there?
At this point I'm not sure I can rely on this... which is too bad :(

[2020-01-29 07:00] stoader commented on #51
The only reason I can imagine, what also was reported by others as well, that executors are slow to download the jars (compared to the driver) and jars are not there by the time executor initialises the metrics system. The only solution to that is to copy all necessary jars to the node where executes will run upfront before executors are started.

You can download the spark-metrics jar and all its

[2020-01-30 21:40] Drewster727 commented on #51
@stoader did finally get it to work, had to drop these jars on each node in the cluster into a specific directory, then tell livy/yarn to look there:
[code]

My issue with this is that I have to manually maintain these jars on each node. Does anyone know how to get yarn to look in an hdfs path for these?

[2020-01-31 10:25] stoader commented on #51
Did you try also dropping these jars to the same path where the standard spark jars (spark/jars) live? The path is on Spark's class path.

I'm not sure if there is a way to tell Yarn to download jars required by spark executors from HDFS.

[2020-01-31 15:56] Drewster727 commented on #51
@stoader I did not try dropping the jars into the same path where the standard spark jars live. However, that would still require me to drop the jars on every node in the cluster, so I'm not sure I would gain anything there.
Bummer on the HDFS part... that would be super handy, but I understand that's a yarn/spark issue.

[2020-02-06 17:04] #52 closed

[2020-02-10 18:33] f1yegor opened #56 "Q: Expose AccumulatorSource"
Question about exposing spark accumulators to Prometheus.

I think I read about it in the documentation, but couldn't find now. Could I expose value of spark accumulator?
I assume this should work
[code]
but I don't see spark accumulator value exposed.

[2020-02-11 07:47] #39 closed

[2020-02-12 11:35] sancyx commented on #56
Hi @f1yegor, as I know org.apache.spark.metrics.source.LongAccumulatorSource is available only from Spark 3.0 which is still in preview and we don't yet support it with spark-metrics.

[2020-02-12 17:03] f1yegor commented on #56
Do you know in which direction I should look to enable scrape of it?

[2020-03-17 22:49] chrilves commented on #28
Thank you so so so so much (yes that much!!). I was about to lose any hope.

[2020-03-24 20:11] Drewster727 commented on #51
I'm closing this for now. Got it working by dropping jars on the nodes as outlined.

[2020-03-24 20:11] #51 closed

[2020-04-01 09:05] Gnoale opened #59 "Metrics"
**Describe the bug**
I want to replace the job value field which from what I undertand should be done by setting the `spark.metrics.namespace=` to the appropriate value, like `${spark.app.name}`
It is not working, the job value stays set to the spark app.id

I also briefly tried the `.sink.prometheus.metrics-name-capture-regex=` without result.

**Steps to reproduce the issue:**
[code]

`metrics.c

[2020-04-01 09:14] Gnoale commented on #59
I have looked at this [issue](https://github.com/banzaicloud/spark-metrics/issues/17)
But in my case, even the metric name stays set to the app.id value, so each time I run the job, new metrics are created...

[2020-04-01 14:52] stoader commented on #59
Instead of ```--repositories https://raw.github.com/banzaicloud/spark-metrics/master/maven-repo/releases``` use the maven repository (https://search.maven.org/artifact/com.banzaicloud/spark-metrics_2.11) to ensure that you use the latest version of spark-metrics that matches your Spark version (eg. 2.3-3.0.1)

[2020-04-01 15:12] Gnoale commented on #59
I just tried `spark-submit --master yarn --queue default --conf spark.metrics.conf=/mnt/code/infra-hdp-test/metrics.conf --deploy-mode cluster  --packages org.apache.hadoop:hadoop-aws:2.7.7,org.elasticsearch:elasticsearch-spark-20_2.11:6.5.4,org.apache.hadoop:hadoop-aws:2.7.7,org.elasticsearch:elasticsearch-spark-20_2.11:6.5.4,com.banzaicloud:spark-metrics_2.11:2.3-3.0.1,io.prometheus:simpleclient

[2020-04-01 15:38] Gnoale commented on #59
I tried also with the different prometheus 0.8.1
Logs
[code]

[2020-04-01 15:53] stoader commented on #59
the `java.lang.NoSuchMethodException: com.banzaicloud.spark.metrics.sink.PrometheusSink` error message indicates that the spark-metrics.jar is not available on the node. Please ensure that the jar is downloaded from maven repository and is available on the node.

[2020-04-01 16:14] Gnoale commented on #59
sorry I'm completely new to this, you are supposed to download the module and put it where ?

[2020-04-01 18:21] stoader commented on #59
Also `*.sink.prometheus.class` in your sparm-metrics config seems to be wrong it should be `*.sink.prometheus.class=org.apache.spark.banzaicloud.metrics.sink.PrometheusSink` (see https://github.com/banzaicloud/spark-metrics/blob/2.3-3.0.1/PrometheusSink.md#how-to-enable-prometheussink-in-spark)

[2020-04-02 07:53] Gnoale commented on #59
Thanks for noticing, I don't know why we ended up with something different than in the doc...
However, with the correct class path, without `--repositories` and the latest package version `com.banzaicloud:spark-metrics_2.11:2.3-2.1.0` it still fail but I get differents error :

**1. jmx collector enable**

[code]

[code]

Also, some metrics are posted

**2. jmx collector disable**

[code]

`py4j.p

[2020-04-02 09:04] stoader commented on #59
You can not have both dropwizzard and jmx metrics enabled at the same time:
[code]

[2020-04-02 12:38] Gnoale commented on #59
Ok, now we do not get any exception by setting `driver.sink.prometheus.class=org.apache.spark.banzaicloud.metrics.sink.PrometheusSink`
I think we have issue with maven because it only works with `--repository`

But I cannot get the metrics namespace to the right value, i.e the job value in prometheus.
[code]
I tried in the config file `METRICS_NAMESPACE=` and `spark.metrics.namespace=`

[2020-04-10 12:14] Gnoale commented on #59
Hi ! finally we worked it out by putting manually all the jars in a shared folder
[code]

And the only way we found to replace the metrics namespace is directly in the app code

[code]

And now, we need the app.id back in a metric label
And we are back to the point where the interpolation doesn't work in `metrics.conf` :
I set `*.sink.prometheus.labels=appid=${spark.app.id}`
I get a label with `ap

[2020-04-11 09:10] stoader commented on #59
Substitution for `*.sink.prometheus.labels` is not supported.  The labels provided through `*.sink.prometheus.labels` are passed to Prometheus in their original format. The `*.sink.prometheus.labels` is meant to be used for static list of labels that you  want to have on all metrics in addition to the ones published by Spark. The value of `spark.app.id` is published under `instance` label.

/cc @s

[2020-04-13 16:48] Drewster727 opened #60 "Pushgateway Read timed out"
I'm experiencing an odd issue where my spark workers will randomly begin reporting that it cannot connect to my push gateway.
[code]
I have verified the pushgateway is up and running and I can connect to it without issue.
However, I did notice that my pushgateway piles up in memory usage. The only piece that is sending metrics are my spark workers via this package/library.

I thought perhaps it co

[2020-04-14 07:08] stoader commented on #60
spark-metrics pushes metrics to Pushgateway using the pushgateway client library: https://github.com/banzaicloud/spark-metrics/blob/2.3-3.0.1/src/main/scala/com/banzaicloud/spark/metrics/sink/PrometheusSink.scala#L98 --> https://github.com/prometheus/client_java/blob/parent-0.8.1/simpleclient_pushgateway/src/main/java/io/prometheus/client/exporter/PushGateway.java#L181

If there is any connection

[2020-05-12 21:47] Drewster727 commented on #60
Not sure what was causing this, but disabling consistency checks per https://github.com/prometheus/pushgateway/issues/340 resolved my issue...

[2020-05-12 21:47] #60 closed

[2020-06-11 10:24] pankajpkh24 opened #61 "Want to understand that this spark matrics repo will work with prometheus in Hadoop cluster ?"
Want to understand that this spark matrics repo will work with Prometheus in the Hadoop cluster?

Actually I have a use case where my java application is deployed in Hadoop cluster and we run the application using the Spark job, which is batch job application, now we want to monitor our spark matrics including java so we wanted to push the spark matrics in Prometheus so that we can use the Grafana

[2020-07-11 14:25] xutaoustc commented on #42
Looking forward for spark-metrics version for spark 3.0

[2020-07-17 15:00] dszakallas opened #62 "Release Spark provided fix to maven"
**Describe the bug**

`spark-core` is a compile dependency for the artifact in maven central, causing merge issues when building an assembly.
[code]
https://repo1.maven.org/maven2/com/banzaicloud/spark-metrics_2.11/2.4-1.0.5/spark-metrics_2.11-2.4-1.0.5.pom

**Expected behavior**

`spark-core` should be a provided dependency.
As a workaround I had to add

[code]
to my dependencies.

**Additional c

[2020-08-13 12:35] julianblack opened #63 "No Metrics From Spark Executors (Classes are being instantiated)"
I am receiving metrics from the Spark driver.  I can see the PrometheusSink class being initialized on the Spark executor but nothing is showing up in the pushgateway.

I also don't see any logs/reason why it wouldn't be pushing, even though I have logs at DEBUG level.

Here is my executor logs:
[code]

[code]

Is there a way I can get more information on why this isn't working? ie. more verbose l

[2020-08-13 13:52] stoader commented on #63
These log lines:
[code]
 indicate that metrics are being pushed by the sink to Pushgateway so this doesn't seem to be a `spark-metrics` issue.

If you want to debug what payload spark-metrics sends to pushgateway than reconfigure your spark-mertics to send metrics to something like netcat (e.g. provide the address and port of a netcat as *.sink.prometheus.pushgateway-address and *.sink.prometheus.

[2020-08-13 21:27] julianblack commented on #63
Thanks for responding.  You're right when I use netcat from a Hadoop edge node, using HTTP protocol, I'm seeing all the executor metrics.

Unfortunately though, this doesn't help me troubleshoot why it wouldn't be working to a remote HTTPS pushgateway on the executors only.

There is no mention of the `role=executor` in the pushgateway logs, so it doesn't seem to be getting there.

Is it possible

[2020-08-13 21:51] stoader commented on #63
if there were SSL related errors it would be visible in the logs, also the driver metrics would affected as well.

If you capture the executor metrics  with netcat and than push those to pushgateway using `curl`, through https, from one of the executor nodes, do those metrics make through?

[2020-08-17 18:50] julianblack commented on #63
Hi @stoader , I just tested this and yes it works through curl after I paste the netcat output into a file.

Manual curl commands:
[code]

Sample executor payload (push_load_2.txt):
![image](https://user-images.githubusercontent.com/37048453/90432477-92c11680-e098-11ea-8844-dffaba36d95a.png)

Pushgateway UI:
![image](https://user-images.githubusercontent.com/37048453/90432210-33fb9d00-e098-11ea-8c

[2020-08-17 18:52] stoader commented on #63
did you run the curl command from the executor node or from your dev machine?

[2020-08-17 18:53] julianblack commented on #63
From my dev machine, to verify the payload format. But I can also try it from a data node.

[2020-08-17 18:56] julianblack commented on #63
Its also worth noting I spun up a different pushgateway instance, in a separate kubernertes cluster and seeing same behavior when plugin is pushing the data.

[2020-08-17 19:51] julianblack commented on #63
@stoader just to cover all bases here. I am passing the jars above seen in the original post.  Are these the correct dependencies?
(version wise).

I also noticed when I removed the `truststore.jks` from the driver, I didn't receive an error message, and the stats were not pushed to the pushgateway.  (Same behavior I'm seeing on the executors.) Do you know why I wouldnt be seeing an error message?

[2020-08-17 19:56] julianblack commented on #63
Alright scratch that last comment.  I do see this error on the driver:
[code]

[2020-08-18 13:19] julianblack commented on #63
@stoader I've solved the issue. It was an SSL issue on the executors.  My `extraJavaOptions` were being overwritten at the application level.  Though as seen above, the plugin logs the SSL issue on the driver, but not on the executors. It might help to have these logs for troubleshooting at the executor level.  Anyways thanks for all the help! Awesome plugin to extract metrics.

[2020-08-18 13:19] #63 closed

[2020-08-19 19:15] DruvaRam opened #64 "Metrics name pre-processing by custom Prometheus sink is working for only one component(driver/executor/applicationMaster)"
Hello

As we already know that Spark doesn't support Promotheus sink by default in versions < 3.0, I wanted to integrate this custom sink with our AWS EMR clusters. I was successful in publishing metrics to Prometheus PushGateway. I am having issues with metric name pre-processing. I followed this [link](https://banzaicloud.com/blog/spark-prometheus-sink-labels/) to setup the metric name pre-proce

[2020-08-26 13:59] prakashatul1 commented on #51
If you are running in cluster mode you will get executors metrics from other nodes where executor might be running ... worked for me

[2020-08-28 10:19] stoader commented on #64
Can you show examples of the original driver and executor metrics without name pre-processing enabled that are provided by Spark in your environment?

[2020-10-06 12:38] dszakallas opened #65 "Filter metrics"
**Is your feature request related to a problem? Please describe.**

I would like to use push-based metrics collection provided by this plugin alongside the direct scraping approach introduced in Spark 3.0, as the push-based version still provides benefits for some metrics. In order not to overload the push gateway, I want to filter for a select set of metrics (e.g. batch job metrics that have to b

[2020-10-06 20:11] stoader commented on #65
@dszakallas IMHO the right approach is to leverage the metrics filtering support provided by Spark. Currently, all metrics are retained: https://github.com/banzaicloud/spark-metrics/blob/master/src/main/scala/com/banzaicloud/spark/metrics/sink/PrometheusSink.scala#L61

Users should be able to pass in the metric filter class implementation to be used (e.g. `metrics-filter-class`). This class would

[2020-10-10 10:24] stoader commented on #62
Fix released as 2.4-1.0.6

[2020-10-10 10:24] #62 closed

[2020-10-10 11:24] dszakallas commented on #62
Thanks!

[2020-10-15 00:12] dszakallas commented on #65
Seems like the way to go. Just to make sure I understood you correctly, the proposal is to instantiate a user-provided class using reflection to use as the `MetricFilter` implementation.

Ideally we should be able to provide a way for the user to parametrize the class, e.g. in this particular case, different instances can provide different regexps. This would come in handy for me so that the same

[2020-10-15 15:39] stoader commented on #65
Yes, the Prometheus Sink currently doesn't have any support for MetricFilters.

The metric filter class should be a property of the sink, e.g.: `*.sink.prometheus.metrics-filter-class`. (Note: due to the way Spark resolves Sink properties the last element of the config property key can not contain dot hence the `metrics-filter-class`)

Metrics filter implementations must implement the `com.codahal

[2020-10-15 15:49] dszakallas commented on #65
Interesting, I didn't know that.

It's a bit cumbersome to require a separate file deployed in the cluster for configuring the metric filter. I would preferred to be passed as a configuration option. How about passing `s/metrics-filter-(.*)/\1/`, i.e use a leading dash instead of a dot?

[2020-10-15 16:31] stoader commented on #65
Can you expand more on this how the Prometheus Sink would look like?

[2020-10-19 15:39] dszakallas commented on #65
`metrics-filter-class` would be the implementor class's name. If provided then properties matching `metrics-filter-(.*)` are passed as `Map[String, String]` to the constructor, with unqualified keys. For example:

[code]
will result in something like
[code]

[2020-10-26 08:03] stoader commented on #65
I was thinking something along the lines:

[code]

where part after `-arg-` denotes constructor parameters. (`regex` could be mapped to the constructor parameter called `regex` while `ignore-case` is mapped to `ignoreCase`, but your initial proposal of passing all these as a `Map` would work as well).

[2020-10-26 19:20] dszakallas commented on #65
If we pass as args we will have to match the types, the names and the order of arguments, i.e. opening up a great big can of worms. The `Map` approach would defer this task to the implementation. Spark uses the latter for configuring plugins, so we stay fairly conventional if we go with this approach.

I also find the `arg` prefix superfluous and the name itself is not too descriptive in case of u

[2020-10-26 20:32] stoader commented on #65
Alright, let's go with the `Map` approach and drop the `arg` prefix.

[2020-10-27 21:34] dszakallas commented on #65
OK, I think everything is clear. I'll draft a PR real quick.

[2020-11-03 09:07] #65 closed

[2020-11-06 18:46] julianblack opened #68 "Metric Name RegEx Replacement doesn't work with JMX"
My goal, like others before me, has been to replace all of the metrics on the pushgateway each time a new instance of the application runs.  I.e. no reference to the application id & no rand ints generated in the metrics names.

I achieved this by doing three things:
1. Changing the `spark.metrics.namespace` to the app name.
2. Using `*.sink.prometheus.metrics-name-capture-regex`, `*.sink.promethe

[2020-11-06 19:01] stoader commented on #68
That seems to be an oversight.

Have you tried to achieve the metric name replacement through the jmx exporter config you provided to the sink? (see as en example https://github.com/prometheus/jmx_exporter/blob/master/example_configs/spark-3-0.yml)

[2020-11-09 13:19] julianblack commented on #68
Thanks @stoader.  This is a good work around to achieve all the replacement needs.

[2020-11-09 13:19] #68 closed

[2020-11-26 13:53] julianblack opened #69 "Spark Metrics Stop Pushing After Pushgateway Restarts"
I've been having some problems with my Prometheus Pushgateway in Kubernetes resulting in the pod to restart.  I noticed after restart, many of the metrics stop pushing to the Pushgateway from the Spark-Prometheus plugin.

**Steps to reproduce the issue:**
This should be easily reproducible by restarting the Prometheus Pushgateway when an active Spark app is pushing metrics.

**Expected behavior**

[2020-12-02 13:49] aminh73 commented on #42
It seems that spark 3.0.1 is released. We are really interested to use this package in spark 3.

[2020-12-03 17:19] prcastro commented on #32
Hey @stoader I just tried your suggestion and it doesn't seem to be working. I still receive the error mentioned above. Funny thing is: the driver seem to have no problem with those packages, so if I do:

[code]

The application runs without problems (the only problem is that I don't have executor metrics). However, if I run with:

[code]

It raises the exception. Am I using the packages in the wr

[2020-12-03 17:22] stoader commented on #32
Yes you need to copy the needed jars to the hosts where executors run.

[2020-12-09 14:17] prcastro opened #70 "Configure sink to stop sending job as label/group-key"
**Is your feature request related to a problem? Please describe.**
Whenever I'm running spark-metrics on YARN, I see all metrics being tagged with `job=application_yarn_id`. This means when I restart the application I create new groups on pushgateway, increasing memory usage by a lot.

**Describe the solution you'd like to see**
A way to remove job from labels and group-keys.  For example, if we o

[2020-12-09 14:18] prcastro commented on #70
Seems related to https://github.com/banzaicloud/spark-metrics/issues/39 but that issue was closed

[2020-12-09 14:42] prcastro commented on #32
I ended up just copying the jars and JMX config file to each node using a bootstrap action on EMR

[2020-12-09 17:23] stoader commented on #70
Can you try either setting `spark.app.id` to a fixed value like `streams` instead of `application_yarn_id` or set `spark.metrics.namespace` to `streams`. Currently, this is how you can control the value for the `job` tag.

[2020-12-09 22:36] prcastro commented on #70
Setting `spark.metrics.namespace` solved the problem! Thanks

[2020-12-09 22:36] #70 closed

[2021-01-18 22:42] dszakallas opened #72 "Metrics filter doesn't work"
**Describe the bug**

The `MetricFilter` doesn't filter the metrics.

**Steps to reproduce the issue:**

Set the corresponding parameters, creating an implementation that filters out everything, observe everything is still on the pgw.

**Expected behavior**

Well, it should filter the metrics :D

**Additional context**

I spent some time pondering on the code and came to the conclusion that the ou

[2021-03-16 18:29] #42 closed

[2021-03-17 16:43] t0il3ts0ap commented on #64
@stoader Facing this same issue, I am running latest master on spark 3 and  using
[code]
and  following in spark defaults.
[code]
Is there any  way to get rid application name & id from all metric names. They are in labels ( via job, number ) already.

 Screenshot of application master group
<img width="1324" alt="Screenshot 2021-03-17 at 10 02 41 PM" src="https://user-images.githubusercontent.com

[2021-03-18 06:34] t0il3ts0ap commented on #64
<img width="1303" alt="Screenshot 2021-03-18 at 12 02 29 PM" src="https://user-images.githubusercontent.com/8509512/111583066-d40dd600-87e1-11eb-8089-2903b7042a06.png">
If I dont provide any namespace, then executor metrics come with applicationId instead of name which is easier to replace with regex. But this create another issue that now we have group based on applicationId instead.

[2021-03-18 07:00] #72 closed

[2021-03-18 07:05] stoader commented on #64
@t0il3ts0ap your config is incorrect:
[code]
This regex will replace only metric names that includes `driver` in the name.

In order to have the `applicationMaster` replaced you need something like:
[code]

[2021-03-18 07:32] t0il3ts0ap commented on #64
@stoader As you can see executor metrics are starting with appName `delta_streamer_request_details_1`.
Do you know how I can replace those as well ?

[2021-03-18 08:23] stoader commented on #64
I'd suggest to check the executor metric names pushed by the executor first without any regex and than create the appropriate regex for extracting only the needed part from the name

[2021-03-18 08:24] stoader commented on #64
I'm closing this issue as it's not a spark-metrics issue but rather using the appropriate regex in the configuration.

[2021-03-18 08:24] #64 closed

[2021-03-18 09:25] t0il3ts0ap commented on #64
@stoader I used new regex, but this issue is right. It only replaces driver metrics it doesn't considers others.
[code]

<img width="1273" alt="Screenshot 2021-03-18 at 2 54 06 PM" src="https://user-images.githubusercontent.com/8509512/111602874-ce23ef00-87f9-11eb-9eee-2a2efa72b059.png">

[2021-04-19 13:44] GezimSejdiu commented on #28
Hi @tisy ,

thanks a lot for this hint and @stoader for great work with spark-metrics.

b.t.w  when you say:

Do you also get metrics i.e. for the executor on the Pushgateway? or only with the `role=driver`? It would be good if you can elaborate a bit on what do you mean by forwarding from workers to the driver? Do they get summed up and shown on the driver only? One good example is also to see wh

[2021-08-04 07:49] Kwafoor commented on #64
yeah,I think you are right.It's so inconvenient

[2021-08-04 07:57] t0il3ts0ap commented on #64
@Kwafoor
It doesn't works for executor if you get the jar from s3.
Instead first store the jar in local filesystem ( ex-> `/usr/lib/spark`)  in each node of your cluster ( In emr, can do via bootstrap action ), then it will work for both driver/executor.

[2021-09-12 01:04] bad3bs opened #77 "Add remote_write to PrometheusSink"
It would be awesome to add remote_write to PrometheusSink.

[2022-03-02 21:40] Davben93 commented on #11
Hi!
I am having the same problem here.
Exception in thread "main" java.lang.reflect.UndeclaredThrowableException
        at org.apache.hadoop.security.UserGroupInformation.doAs(UserGroupInformation.java:1894)
        at org.apache.spark.deploy.SparkHadoopUtil.runAsSparkUser(SparkHadoopUtil.scala:61)
        at org.apache.spark.executor.CoarseGrainedExecutorBackend$.run(CoarseGrainedExecutorBackend

[2022-04-22 05:26] allstar-app[bot] opened #78 "Security Policy violation Binary Artifacts"
_This issue was automatically created by [Allstar](https://github.com/ossf/allstar/)._

**Security Policy Violation**
Project is out of compliance with Binary Artifacts policy: binaries present in source code

**Rule Description**
Binary Artifacts are an increased security risk in your repository. Binary artifacts cannot be reviewed, allowing the introduction of possibly obsolete or maliciously su

[2022-04-22 05:26] allstar-app[bot] opened #79 "Security Policy violation Branch Protection"
_This issue was automatically created by [Allstar](https://github.com/ossf/allstar/)._

**Security Policy Violation**
PR Approvals not configured for branch master

---

This issue will auto resolve when the policy is in compliance.

Issue created by Allstar. See https://github.com/ossf/allstar/ for more information. For questions specific to the repository, please contact the owner or maintainer.

[2022-07-01 02:36] tonglin0325 opened #82 "Prometheus Sink is not working with SparkPi"
spark sunmit command:
spark-submit --class org.apache.spark.examples.SparkPi --master yarn-client /usr/lib/spark/examples/jars/spark-examples_2.11-2.4.7-amzn-1.jar 1000 --package com.banzaicloud:spark-metrics_2.11:2.4-1.0.5 --jars /home/hadoop/spark-metrics_2.11-2.4-1.0.5.jar,/home/hadoop/simpleclient-0.8.1.jar,/home/hadoop/simpleclient_dropwizard-0.8.1.jar,/home/hadoop/simpleclient_pushgateway-0.

[2022-07-05 15:41] #82 closed

[2022-10-19 13:33] Antirecord opened #83 "VictoriaMetrics"
Good afternoon!  if we don't have pushgateway, is it possible to send metrics to VictoriaMetrics using your library?

[2022-11-18 16:05] g1thubhub opened #84 "Repetitions of last metric value"
Hello,

[stoader](https://github.com/stoader)
I have a general question: After a Spark application ends, the metric in the pushgateway becomes “stale” as no more updates are pushed. This results in the following problem:

<img width="1130" alt="Problem" src="https://user-images.githubusercontent.com/6699547/202748340-a82fcd23-3d8b-4602-b9b0-3650a56d058d.png">

The last metric is repeatedly scraped

[2022-11-18 16:07] g1thubhub commented on #61
@pankajpkh24 I have the same question, you might look at this issue I just raised https://github.com/banzaicloud/spark-metrics/issues/84
I think there are problems with the pull and push based approaches on YARN clusters, see the linked issue

[2022-11-28 13:30] stoader commented on #84
That's due to how [Pushgateway](https://prometheus.io/docs/practices/pushing/) works, it keeps the last metric value for a metric key forever. The only solution I see is to use a custom built Pushgateway which is compatible with the upstream one but has metrics TTL capabilities. (e.g. https://github.com/dinumathai/pushgateway)

[2022-11-28 13:33] stoader commented on #83
I'm not familiar with VictoriaMetrics. If the rest API of VictoriaMetrics is 100% compatible with [Pushgateway's HTTP API](https://github.com/prometheus/pushgateway#api) in theory it should work.

[2022-11-28 13:38] stoader commented on #61
Since Spark supports Prometheus metrics I'd advise to use rather that than this library. This library is recommended to be used for short lived spark jobs which terminate before Prometheus would scrape metrics. Note this library is pushing metrics to Pushgateway thus inherits the limitations of Pushgateway (e.g. metrics in Pushgateway lives forever or until its restarted)